*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
}
.overlay-github{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s ease;
    font-family: 'Roboto Mono', monospace;
}
.overlay-content-github{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay-github a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: darkgray;
    display: block;
    transition: 0.3s ease-in;
}
.overlay-github a:hover{
    color: white;
}
.overlay-close-button-github{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.overlay-twitter{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s ease;
    font-family: 'Roboto Mono', monospace;
}
.overlay-content-twitter{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay-twitter a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: darkgray;
    display: block;
    transition: 0.3s ease-in;
}
.overlay-twitter a:hover{
    color: white;
}
.overlay-close-button-twitter{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.overlay-discord{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s ease;
    font-family: 'Roboto Mono', monospace;
}
.overlay-content-discord{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay-discord a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: darkgray;
    display: block;
    transition: 0.3s ease-in;
}
.overlay-discord a:hover{
    color: white;
}
.overlay-close-button-discord{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.overlay-youtube{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s ease;
    font-family: 'Roboto Mono', monospace;
}
.overlay-content-youtube{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay-youtube a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: darkgray;
    display: block;
    transition: 0.3s ease-in;
}
.overlay-discord a:hover{
    color: white;
}
.overlay-close-button-youtube{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Roboto Mono', monospace;
    background-color: #D6D6D6;
}
.nav-border{
    color: black;
}
.nav-links{
    display: flex;
    width: 40%;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
}
.nav-links li{
    list-style: none;
}
.nav-links .breaker{
    margin: 5px;
}
nav div.logo{
    text-decoration: underline;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (min-width:768px){
    .nav-links{
        justify-content: space-around;
    }
    .nav-link:hover{
        background-color: darkgray;
        border-color: black;
        transition: 0.3s ease-in;
    }
    .nav-link{
        padding: 2vh;
        transition: 0.3s ease-in;
        border-style: solid;
        border-color: #D6D6D6;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    nav{
        background-color: darkgray;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: darkgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        width: 0;
        transition: 0.5s ease-in;
    }
    .nav-links li{
        margin: 5%;
        color: black;
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    width: 100%;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}